.title{
    color:white;
    font-size:28px;
    font-weight:700;
    margin-bottom:25px;
    text-align:center;
    letter-spacing:.5px;
}

.newChat span{
    font-size:22px;
    font-weight:bold;
}
.sidebar{
    width:270px;
    height:100vh;
    background:#111827;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:20px;
    border-right:1px solid rgba(255,255,255,.08);
}

.top{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.newChat{
    background:#6366F1;
    border:none;
    border-radius:12px;
    padding:14px;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.newChat:hover{
    background:#7C3AED;
}

.history{
    margin-top:20px;
    overflow-y:auto;
}

.history p{
    padding:12px;
    border-radius:10px;
    cursor:pointer;
    color:#cbd5e1;
}

.history p:hover{
    background:#1E293B;
}

.sign{
    color:#94A3B8;
    text-align:center;
}